<!-- Footer Start  -->
<div class="section footer-section">

    <!-- Footer Widget Section Start -->
    <div class="footer-widget-section">

        <img class="shape-1 animation-down" src="../assets/images/shape/shape-21.png" alt="Shape">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 order-md-1 order-lg-1">

                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <div class="widget-logo">
                            <a><img src="../assets/Final IBG Academy logo.png" alt="Logo"
                                    style="margin-top: -18px; width: 200px;"></a>
                        </div>

                        <div class="widget-address">
                            <h4 class="footer-widget-title"></h4>
                            <p style="color: black;">IBG House, Plot No.13,
                                S.N. 295 Manjari Rd.
                                Hadapsar, Pune
                                Maharashtra, India: 411028.</p>
                        </div>

                        <ul class="widget-info">
                            <li>
                                <p> <i class="flaticon-email"></i> <a
                                        href="mailto:info@ibgacademy.in">info&#64;ibgacademy.in</a> </p>
                            </li>
                            <li>
                                <p> <i class="flaticon-phone-call"></i> <a href="tel:8956555109">+918956555109</a> </p>
                            </li>
                        </ul>

                        <ul class="widget-social">
                            <li><a target="_blank"><i class="flaticon-facebook"></i></a></li>
                            <li><a target="_blank"><i class="flaticon-twitter"></i></a></li>
                            <li><a target="_blank"><i class="flaticon-instagram"></i></a></li>
                            <li><a target="_blank"><i class="flaticon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->

                </div>
                <div class="col-lg-6 order-md-3 order-lg-2">

                    <!-- Footer Widget Link Start -->
                    <div class="footer-widget-link">


                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title" id="Category">Category</h4>

                            <ul class="widget-link" id="Category1">
                                <li><a>Creative Writing</a></li>
                                <li><a>Film & Video</a></li>
                                <li><a>Graphic Design</a></li>
                                <li><a>UI/UX Design</a></li>
                                <li><a>Business Analytics</a></li>
                                <li><a>Marketing</a></li>
                            </ul>

                        </div>
                        <!-- Footer Widget End -->




                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Quick Links</h4>

                            <ul class="widget-link">
                                <li><a>Privacy Policy</a></li>
                                <li><a>Discussion</a></li>
                                <li><a>Terms & Conditions</a></li>
                                <li><a>Customer Support</a></li>
                                <li><a>Course FAQ’s</a></li>
                                <li><a routerLink="/faq">FAQ</a></li>
                            </ul>

                        </div>
                        <!-- Footer Widget End -->


                    </div>
                    <!-- Footer Widget Link End -->

                </div>
                <div class="col-lg-3 col-md-6 order-md-2 order-lg-3">


                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title" id="sub">Subscribe</h4>

                        <div class="widget-subscribe">
                            <p>Stay connected with the latest updates! Subscribe to our newsletter for exclusive
                                insights, upcoming courses, and exciting opportunities – because your
                                educational journey is just a click away.</p>



                            <div class="widget-form">
                                <!-- <form action="#">
                                            <input type="text" placeholder="Email here"> -->
                                <a routerLink="contact"><button class="btn btn-primary btn-hover-dark">Message
                                        Send</button></a>
                                <!-- </form> -->
                            </div>


                        </div>


                    </div>
                    <!-- Footer Widget End -->


                </div>
            </div>
        </div>

        <img class="shape-2 animation-left" src="../assets/images/shape/shape-22.png" alt="Shape">

    </div>
    <!-- Footer Widget Section End -->



    <!-- Footer Copyright Start -->
    <div class="footer-copyright">
        <div class="container">

            <!-- Footer Copyright Start -->
            <div class="copyright-wrapper">
                <div class="copyright-link">
                    <a>Terms of Service</a>
                    <a>Privacy Policy</a>
                    <a>Sitemap</a>
                    <a>Security</a>
                </div>
                <div class="copyright-text">
                    <p>Copyright &copy; 20s15-23 IBG Academy All Rights Reserved <a></a></p>
                </div>
            </div>
            <!-- Footer Copyright End -->

        </div>
    </div>
    <!-- Footer Copyright End -->

</div>
<!-- Footer End -->