<app-header></app-header>


<title>IBG Academy | About us</title>
<div class="main-wrapper">

    <!-- Overlay Start -->
    <div class="overlay"></div>
    <!-- Overlay End -->

    <!-- Page Banner Start -->
    <div class="section page-banner">

        <img class="shape-1 animation-round" src="../assets/images/shape/shape-8.png" alt="Shape">

        <img class="shape-2" src="../assets/images/shape/shape-23.png" alt="Shape">

        <div class="container">
            <!-- Page Banner Start -->
            <div class="page-banner-content">

                <ul class="breadcrumb">
                    <li><a routerLink="/home">Home</a></li>
                    <li class="active">About</li>
                </ul>

                <h2 class="title">About <span>IBG Academy</span></h2>
            </div>
            <!-- Page Banner End -->
        </div>


        <!-- Shape Icon Box Start -->
        <div class="shape-icon-box">

            <img class="icon-shape-1 animation-left" src="../assets/images/shape/shape-5.png" alt="Shape">

            <div class="box-content">
                <div class="box-wrapper">
                    <i class="flaticon-badge"></i>
                </div>
            </div>

            <img class="icon-shape-2" src="../assets/images/shape/shape-6.png" alt="Shape">

        </div>
        <!-- Shape Icon Box End -->


        <img class="shape-3" src="../assets/images/shape/shape-24.png" alt="Shape">

        <img class="shape-author" src="../assets/Phootos-18 (1).jpg" alt="Shape" width="200px" height="200px">

    </div>
    <!-- Page Banner End -->


    <!-- About Start -->
    <div class="section">

        <div class="section-padding-02 mt-n10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">


                        <!-- About Images Start -->
                        <div class="about-images">

                            <div class="images">
                                <img src="../assets/About us-01.png" alt="About">
                            </div>

                            <div class="about-years">
                                <div class="years-icon">
                                    <img src="../assets/images/logo-icon.png" alt="About">
                                </div>

                                <p><strong>18+</strong> Years Experience</p>
                            </div>
                        </div>
                        <!-- About Images End -->
                    </div>



                    <div class="col-lg-6">

                        <!-- About Content Start -->
                        <div class="about-content">
                            <h5 class="sub-title">Welcome to IBG Academy.</h5>

                            <h2 class="main-title">You can join with IBG Academy and upgrade your skill for your
                                <span>bright future.</span>
                            </h2>

                            <p>
                                IBG Academy offers wide array of skillsand behavioral training courses. Each course
                                is structured and designed to impart students with the desired knowledge, skills,
                                experience and mindset they need to not only start their career but to successfully
                                perform in today’s competitive business environment.</p>

                            <a routerLink="/courses-details" class="btn btn-primary btn-hover-dark">Start A Course</a>
                        </div>
                        <!-- About Content End -->

                    </div>


                </div>
            </div>
        </div>


        <div class="section-padding-02 mt-n6">
            <div class="container">

                <!-- About Items Wrapper Start -->
                <div class="about-items-wrapper">
                    <div class="row">


                        <div class="col-lg-4">
                            <!-- About Item Start -->
                            <div class="about-item">
                                <div class="item-icon-title">
                                    <div class="item-icon">
                                        <i class="flaticon-tutor"></i>
                                    </div>



                                    <div class="item-title">
                                        <h3 class="title">Top Instructors</h3>
                                    </div>

                                </div>
                                <p>Our Commitment to Excellence</p>
                                <p>Turn your educational aspirations into reality with the expert guidance of
                                    industry professionals and dedicated instructors. Our team comprises seasoned
                                    professionals and educators dedicated to providing you with unparalleled
                                    knowledge and mentorship.Benefit from their wealth of experience, practical
                                    insights, and a commitment to your success. At IBG Academy, we believe in
                                    learning from the best to become the best.</p>


                            </div>
                            <!-- About Item End -->
                        </div>


                        <!-- ------------------------------------------------------------------------------------------- -->


                        <div class="col-lg-4">
                            <!-- About Item Start -->
                            <div class="about-item">
                                <div class="item-icon-title">
                                    <div class="item-icon">
                                        <i class="flaticon-coding"></i>
                                    </div>


                                    <div class="item-title">
                                        <h3 class="title">Portable Program</h3>
                                    </div>
                                </div>
                                <p>Learning Anywhere, Anytime</p>
                                <p>Experience the flexibility of education with our portable programs designed to
                                    fit seamlessly into your busy life. Whether you're a working professional or a
                                    student with a hectic schedule, our programs are crafted to be accessible from
                                    anywhere, at any time. </p>
                                <p>Immerse yourself in learning without constraints and
                                    tailor your educational journey to your convenience. At IBG Academy, education
                                    travels with you.</p>

                            </div>
                            <!-- About Item End -->
                        </div>

                        <!-- ------------------------------------------------------------------------------------------- -->


                        <div class="col-lg-4">
                            <!-- About Item Start -->
                            <div class="about-item">
                                <div class="item-icon-title">
                                    <div class="item-icon">
                                        <i class="flaticon-increase"></i>
                                    </div>


                                    <div class="item-title">
                                        <h3 class="title">Improve Quickly</h3>
                                    </div>
                                </div>
                                <p>Accelerate Your Learning Curve</p>
                                <p>Witness rapid progress and skill enhancement with our programs which are
                                    meticulously structured to help you improve quickly. Our curriculum focuses on
                                    practical skills, hands-on experiences, and real-world applications, ensuring
                                    that you not only learn efficiently but also apply your knowledge effectively.
                                </p>
                                <p>
                                    Elevate your expertise and embark on a journey of continuous improvement with
                                    IBG Academy.</p>
                            </div>
                            <!-- About Item End -->
                        </div>

                        <!-- ---------------------------------------------------------------------------------------- -->


                    </div>
                </div>
                <!-- About Items Wrapper End -->

            </div>
        </div>

    </div>
    <!-- About End -->

    <!-- Call to Action Start -->
    <div class="section section-padding-02">
        <div class="container">

            <!-- Call to Action Wrapper Start -->
            <div class="call-to-action-wrapper">

                <img class="cat-shape-01 animation-round" src="../assets/images/shape/shape-12.png" alt="Shape">
                <img class="cat-shape-02" src="../assets/images/shape/shape-13.svg" alt="Shape">
                <img class="cat-shape-03 animation-round" src="../assets/images/shape/shape-12.png" alt="Shape">

                <div class="row align-items-center">
                    <div class="col-md-6">

                        <!-- Section Title Start -->
                        <div class="section-title shape-02">
                            <h5 class="sub-title">Become A Instructor</h5>
                            <h2 class="main-title">You can join with IBG Academy as <span>a instructor?</span></h2>
                        </div>
                        <!-- Section Title End -->

                    </div>

                    <div class="col-md-6">
                        <div class="call-to-action-btn">
                            <a class="btn btn-primary btn-hover-dark" routerLink="/contact">Drop Information</a>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Call to Action Wrapper End -->

        </div>
    </div>
    <!-- Call to Action End -->




    <!-- Team Member's Start -->
    <div class="section section-padding mt-n1">
        <div class="container">

            <!-- Section Title Start -->
            <div class="section-title shape-03 text-center">
                <h5 class="sub-title">Team Member’s</h5>
                <h2 class="main-title">IBG Academy Skilled <span> Instructor</span></h2>
            </div>
            <!-- Section Title End -->

            <!-- Team Wrapper Start -->
            <div class="team-wrapper">
                <div class="row row-cols-lg-5 row-cols-sm-3 row-cols-2 ">
                    <div class="col">



                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/Courses-19.png" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Vikram Aacharya</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->
                    </div>



                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/images/author/author-02.jpg" alt="Author">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Monica Gupta</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>





                    <div class="col">
                        <!-- Single Teams Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/Courses-20.png" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Bhagyashri Babar</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>





                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/Courses-21.png" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Maheshkumar</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->
                    </div>





                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/Courses-23.png" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Omkar</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>





                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/Courses-22.png" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Kartikey</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>





                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/p1.jpg" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Prasad</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>




                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/p6.jpg" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Pooja</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>




                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/p4.jpg" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Rajesh</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>




                    <div class="col">

                        <!-- Single Team Start -->
                        <div class="single-team">
                            <div class="team-thumb">
                                <img src="../assets/p7.jpg" alt="Author" width="153px" height="153px">
                            </div>
                            <div class="team-content">
                                <div class="rating">
                                    <span class="count">4.9</span>
                                    <i class="icofont-star"></i>
                                    <span class="text">(rating)</span>
                                </div>
                                <h4 class="name">Tejaswini</h4>
                                <span class="designation">Instructor</span>
                            </div>
                        </div>
                        <!-- Single Team End -->

                    </div>



                </div>
            </div>
            <!-- Team Wrapper End -->

        </div>
    </div>
    <!-- Team Member's End -->

    <!-- Download App Start -->
    <div class="section section-padding download-section">

        <div class="app-shape-1"></div>
        <div class="app-shape-2"></div>
        <div class="app-shape-3"></div>
        <div class="app-shape-4"></div>

        <div class="container">

            <!-- Download App Wrapper Start -->
            <div class="download-app-wrapper mt-n6">

                <!-- Section Title Start -->
                <div class="section-title section-title-white">
                    <h5 class="sub-title">Ready to start?</h5>
                    <h2 class="main-title">Download our mobile app. for easy to start your course.</h2>
                </div>
                <!-- Section Title End -->

                <img class="shape-1 animation-right" src="../assets/images/shape/shape-14.png" alt="Shape">

                <!-- Download App Button End -->
                <div class="download-app-btn">
                    <ul class="app-btn">
                        <li><a href="#"><img src="../assets/images/google-play.png" alt="Google Play"></a></li>
                        <li><a href="#"><img src="../assets/images/app-store.png" alt="App Store"></a></li>
                    </ul>
                </div>
                <!-- Download App Button End -->

            </div>
            <!-- Download App Wrapper End -->

        </div>
    </div>
    <!-- Download App End -->

    <!-- Testimonial End -->
    <div class="section section-padding-02 mt-n1">
        <div class="container">



            <!-- Section Title Start -->
            <div class="section-title shape-03 text-center">
                <h5 class="sub-title">Student Testimonial</h5>

                <h2 class="main-title">Feedback From <span> Student</span></h2>
            </div>
            <!-- Section Title End -->



            <!-- Testimonial Wrapper End -->
            <div class="testimonial-wrapper testimonial-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">


                        <!-- Single Testimonial Start -->
                        <div class="single-testimonial swiper-slide">
                            <div class="testimonial-author">
                                <div class="author-thumb">

                                    <img src="../assets/Courses_S2.jpg" alt="Author">

                                    <i class="icofont-quote-left"></i>
                                </div>

                                <span class="rating-star">
                                    <span class="rating-bar" style="width: 80%;"></span>
                                </span>

                            </div>

                            <div class="testimonial-content">
                                <p>Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make type specimen
                                    book has survived not five centuries but also the leap into electronic.</p>
                                <h4 class="name">Suraj Patel</h4>
                                <!-- <span class="designation">Product Designer, USA</span> -->
                            </div>

                        </div>
                        <!-- Single Testimonial End -->




                        <!-- Single Testimonial Start -->
                        <div class="single-testimonial swiper-slide">
                            <div class="testimonial-author">

                                <div class="author-thumb">

                                    <img src="../assets/Courses_S1.jpg" alt="Author">

                                    <i class="icofont-quote-left"></i>
                                </div>

                                <span class="rating-star">
                                    <span class="rating-bar" style="width: 80%;"></span>
                                </span>

                            </div>

                            <div class="testimonial-content">
                                <p>Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make type specimen
                                    book has survived not five centuries but also the leap into electronic.</p>
                                <h4 class="name">Meera Tupe</h4>
                                <!-- <span class="designation">Product Designer, USA</span> -->
                            </div>

                        </div>
                        <!-- Single Testimonial End -->




                        <!-- Single Testimonial Start -->
                        <div class="single-testimonial swiper-slide">

                            <div class="testimonial-author">
                                <div class="author-thumb">

                                    <img src="../assets/Courses_S4.jpg" alt="Author">

                                    <i class="icofont-quote-left"></i>
                                </div>

                                <span class="rating-star">
                                    <span class="rating-bar" style="width: 80%;"></span>
                                </span>

                            </div>
                            <div class="testimonial-content">
                                <p>Lorem Ipsum has been the industry's standard dummy text since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make type specimen
                                    book has survived not five centuries but also the leap into electronic.</p>
                                <h4 class="name">Shreya Pawar</h4>
                                <!-- <span class="designation">Product Designer, USA</span> -->
                            </div>

                        </div>
                        <!-- Single Testimonial End -->


                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- Testimonial Wrapper End -->



        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Brand Logo Start -->
    <div class="section section-padding">
        <div class="container">

            <!-- Brand Logo Wrapper Start -->
            <div class="brand-logo-wrapper">

                <img class="shape-1" src="../assets/images/shape/shape-19.png" alt="Shape">

                <img class="shape-2 animation-round" src="../assets/images/shape/shape-20.png" alt="Shape">

                <!-- Section Title Start -->
                <div class="section-title shape-03">
                    <h2 class="main-title">Best Supporter of <span>IBG Academy.</span></h2>
                </div>
                <!-- Section Title End -->

                <!-- Brand Logo Start -->
                <div class="brand-logo brand-active">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            <!-- Single Brand Start -->
                            <div class="single-brand swiper-slide">
                                <img src="../assets/images/brand/brand-01.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->

                            <!-- Single Brand Start -->
                            <div class="single-brand swiper-slide">
                                <img src="../assets/images/brand/brand-02.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->

                            <!-- Single Brand Start -->
                            <div class="single-brand swiper-slide">
                                <img src="../assets/images/brand/brand-03.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->

                            <!-- Single Brand Start -->
                            <div class="single-brand swiper-slide">
                                <img src="../assets/images/brand/brand-04.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->

                            <!-- Single Brand Start -->
                            <div class="single-brand swiper-slide">
                                <img src="../assets/images/brand/brand-05.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->

                            <!-- Single Brand Start -->
                            <div class="single-brand swiper-slide">
                                <img src="../assets/images/brand/brand-06.png" alt="Brand">
                            </div>
                            <!-- Single Brand End -->

                        </div>
                    </div>
                </div>
                <!-- Brand Logo End -->

            </div>
            <!-- Brand Logo Wrapper End -->

        </div>
    </div>
    <!-- Brand Logo End -->

    <!--Back To Start-->
    <a href="#" class="back-to-top">
        <i class="icofont-simple-up"></i>
    </a>
    <!--Back To End-->

</div>


<app-footer></app-footer>