<app-header></app-header>

<div class="main-wrapper">

    <!-- Overlay Start -->
    <div class="overlay"></div>
    <!-- Overlay End -->

    <!-- Page Banner Start -->
    <div class="section page-banner">

        <img class="shape-1 animation-round" src="../assets/images/shape/shape-8.png" alt="Shape">

        <img class="shape-2" src="../assets/images/shape/shape-23.png" alt="Shape">

        <div class="container">


            <!-- Page Banner Start -->
            <div class="page-banner-content">
                <ul class="breadcrumb">
                    <li><a routerLink="/home">Home</a></li>
                    <li class="active">Register</li>
                </ul>
                <h2 class="title">Instructor <span>Form</span></h2>
            </div>
            <!-- Page Banner End -->
        </div>



        <!-- Shape Icon Box Start -->
        <div class="shape-icon-box">

            <img class="icon-shape-1 animation-left" src="../assets/images/shape/shape-5.png" alt="Shape">

            <div class="box-content">
                <div class="box-wrapper">
                    <i class="flaticon-badge"></i>
                </div>
            </div>

            <img class="icon-shape-2" src="../assets/images/shape/shape-6.png" alt="Shape">

        </div>
        <!-- Shape Icon Box End -->

        <img class="shape-3" src="../assets/images/shape/shape-24.png" alt="Shape">

        <img class="shape-author" src="../assets/Phootos-18 (1).jpg" alt="Shape" width="200px" height="200px">

    </div>
    <!-- Page Banner End -->



    <!-- Register & Login Start -->
    <div class="section section-padding ">
        <div class="container">

            <!-- Register & Login Wrapper Start -->
            <div class="register-login-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6">


                        <!-- Register & Login Images Start -->
                        <div class="register-login-images">
                            <div class="shape-1">
                                <img src="../assets/images/shape/shape-26.png" alt="Shape">
                            </div>


                            <div class="images">
                                <img src="../assets/Pages_Register Now.png" alt="Register Login">
                            </div>


                        </div>
                        <!-- Register & Login Images End -->


                    </div>
                    <div class="col-lg-6">


                        <!-- Register & Login Form Start -->
                        <div class="register-login-form">
                            <h3 class="title">Instructor <span>Now</span></h3>

                            <div class="form-wrapper">
                                <form action="#">
                                    <!-- (ngSubmit)="onSubmitRegister()" -->

                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <!-- [(ngModel)]="register.name" -->
                                        <input type="text" placeholder="userName" id="name"
                                            [(ngModel)]="register.userName" [ngModelOptions]="{standalone: true}"
                                            required>
                                    </div>
                                    <!-- Single Form End -->


                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <input type="email" placeholder="Email" id="email" [(ngModel)]="register.email"
                                            [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                    <!-- Single Form End -->


                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <input type="password" placeholder="Password" id="password"
                                            [(ngModel)]="register.password" [ngModelOptions]="{standalone: true}"
                                            required>
                                    </div>
                                    <!-- Single Form End -->



                                    <!-- Single Form Start -->
                                    <!-- <div class="single-form">
                                        <input type="password" placeholder="Confirm Password" id="confirmPassword"
                                            [(ngModel)]="register.confirmPassword" [ngModelOptions]="{standalone: true}"
                                            required>
                                    </div> -->
                                    <!-- Single Form End -->



                                    <!-- Single Form Start -->
                                    <div class="single-form">
                                        <div class="dropdown">
                                            <!-- [(ngModel)]="register.userRoles" -->
                                            <!-- (change)="onUserRoleChange($event)" -->
                                            <select class="userRoles" name="userRoles" id="userRoles"
                                                [(ngModel)]="register.user_Roles[0].roleName"
                                                (change)="onUserRoleChange()" required>
                                                <option value="" selected disabled>User Roles</option>
                                                <option value="INSTRUCTOR">INSTRUCTOR</option>
                                                <option value="STUDENT">STUDENT</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Single Form Start -->
                                    <!-- *ngIf="showcountry" -->
                                    <div class="single-form" *ngIf="showcountry">
                                        <input type="text" placeholder="country Name" id="countryName"
                                            [(ngModel)]="register.country" [ngModelOptions]="{standalone: true}"
                                            required>
                                    </div>

                                    <div class="single-form">
                                        <!-- <label for="securityQuestion">Security Question:</label> -->
                                        <select class="userRoles" name="userRoles" id="userRoles"
                                        [(ngModel)]="register.securityQuestion" [ngModelOptions]="{standalone: true}"
                                            required>
                                            <option value="" selected disabled>Security Questions
                                            </option>
                                            <option value="Animal" selected disabled>Which is Your favourite animal ?
                                            </option>
                                            <option value="Color">Which is Your favourite Color ?</option>
                                            <option value="DOB">What is Your Date of Birth ?</option>
                                        </select>
                                        <!-- <input type="text" placeholder="Question" id="name" [(ngModel)]="register.securityQuestion"
                                            [ngModelOptions]="{standalone: true}" required> -->
                                    </div>
                                    <div class="single-form">

                                        <input type="text" placeholder="Answer" id="name"
                                            [(ngModel)]="register.securityAnswer" [ngModelOptions]="{standalone: true}"
                                            required>
                                    </div>




                                    <div class="single-form" *ngIf="showcountry">
                                        <input type="text" placeholder="Interest" id="interest"
                                            [(ngModel)]="register.additionalIntrest"
                                            [ngModelOptions]="{standalone: true}" required>
                                    </div>


                                    <!-- <div class="single-form">
                                        
                                        <input type="text" placeholder="Question" id="name" [(ngModel)]="register.question"
                                            [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                    <div class="single-form">
                                      
                                        <input type="text" placeholder="Answer" id="name" [(ngModel)]="register.answers"
                                            [ngModelOptions]="{standalone: true}" required>
                                    </div> -->
                                    <div class="single-form" *ngIf="showcountry">

                                        <input type="file" class="filestyle" (change)="onFileSelected($event)"
                                            data-buttontext="Upload photo" data-buttonbefore="true" required="required"
                                            file-model="sigOnePhoto" id="filestyle-1" tabindex="-1">
                                    </div>





                                    <div class="single-form" *ngIf="showforinstructor">

                                        <input type="file" class="filestyle" (change)="onFileSelected1($event)"
                                            data-buttontext="Upload photo" data-buttonbefore="true" required="required"
                                            file-model="sigOnePhoto" id="filestyle-1" tabindex="-1">
                                    </div>


                                    
                                    <!-- *ngIf="showcountry" -->
                                    <div class="single-form" >
                                        <a routerLink="/login" button (click)="onsubmitregisterStudent()"
                                            class="btn btn-primary btn-hover-dark w-100">
                                            Create an account for student
                                        </a>
                                    </div>
                                    <!-- *ngIf="showforinstructor" -->
                                    <div class="single-form" >
                                        <a routerLink="/login" button (click)="onsubmitregisterInstructor()"
                                            class="btn btn-primary btn-hover-dark w-100">
                                            Create an account for instructor
                                        </a>
                                    </div>


                                    <!-- <a class="btn btn-secondary btn-outline w-100"
                                                href="https://accounts.google.com/signup/v2/createaccount?theme=glif&flowName=GlifWebSignIn&flowEntry=SignUp"
                                                target="_blank">Sign
                                                up with
                                                Google</a> -->
                                    <!-- Single Form End -->


                                </form>
                            </div>
                        </div>
                        <!-- Register & Login Form End -->

                    </div>
                </div>
            </div>
            <!-- Register & Login Wrapper End -->

        </div>
    </div>
    <!-- Register & Login End -->



    <!-- Download App Start -->
    <div class="section section-padding download-section">

        <div class="app-shape-1"></div>
        <div class="app-shape-2"></div>
        <div class="app-shape-3"></div>
        <div class="app-shape-4"></div>

        <div class="container">

            <!-- Download App Wrapper Start -->
            <div class="download-app-wrapper mt-n6">

                <!-- Section Title Start -->
                <div class="section-title section-title-white">
                    <h5 class="sub-title">Ready to start?</h5>
                    <h2 class="main-title">Download our mobile app. for easy to start your course.</h2>
                </div>
                <!-- Section Title End -->

                <img class="shape-1 animation-right" src="../assets/images/shape/shape-14.png" alt="Shape">


                <!-- Download App Button End -->
                <div class="download-app-btn">
                    <ul class="app-btn">
                        <li><a><img src="../assets/images/google-play.png" alt="Google Play"></a></li>
                        <li><a><img src="../assets/images/app-store.png" alt="App Store"></a></li>
                    </ul>
                </div>
                <!-- Download App Button End -->


            </div>
            <!-- Download App Wrapper End -->

        </div>
    </div>
    <!-- Download App End -->

    <!--Back To Start-->
    <a class="back-to-top">
        <i class="icofont-simple-up"></i>
    </a>
    <!--Back To End-->

</div>

<app-footer></app-footer>