<div class="main-wrapper main-wrapper-02">


    <!-- Login Header Start -->
    <div class="section login-header">
        <!-- Login Header Wrapper Start -->
        <div class="login-header-wrapper navbar navbar-expand">


            <!-- Header Logo Start -->
            <div class="login-header-logo">
                <a routerLink="/home"><img src="../assets/final logo 1.png" alt="Logo" width="50px" height="44px"></a>
            </div>
            <!-- Header Logo End -->


            <!-- Header Search Start -->
            <div class="login-header-search dropdown">
                <button class="search-toggle" data-bs-toggle="dropdown"><i class="flaticon-loupe"></i></button>

                <div class="search-input dropdown-menu">
                    <form action="#">
                        <input type="text" placeholder="Search here" style="background-color: white; color: black;">
                    </form>
                </div>

            </div>
            <!-- Header Search End -->




            <!-- Header Action Start -->
            <div class="login-header-action ml-auto">

                <div class="dropdown" dropdown>

                    <button class="action notification" data-bs-toggle="dropdown" dropdownToggle>
                        <i class="flaticon-notification"></i>
                        <span class="active"></span>
                    </button>


                    <div class="dropdown-menu dropdown-notification" *dropdownMenu id="drop1">

                        <ul class="notification-items-list">

                            <li class="notification-item">
                                <span class="notify-icon bg-success text-white"><i class="icofont-ui-user"></i></span>
                                <div class="dropdown-body">
                                    <a>
                                        <p><strong>Martin</strong> has added a <strong>customer</strong>
                                            Successfully
                                        </p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>


                            <li class="notification-item">
                                <span class="notify-icon bg-success text-white"><i
                                        class="icofont-shopping-cart"></i></span>
                                <div class="dropdown-body">
                                    <a>
                                        <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>


                            <li class="notification-item">
                                <span class="notify-icon bg-danger text-white"><i class="icofont-book-mark"></i></span>
                                <div class="dropdown-body">
                                    <a>
                                        <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                        </p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>


                            <li class="notification-item">
                                <span class="notify-icon bg-success text-white"><i class="icofont-heart-alt"></i></span>
                                <div class="dropdown-body">
                                    <a>
                                        <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>


                            <li class="notification-item">
                                <span class="notify-icon bg-success text-white"><i class="icofont-image"></i></span>
                                <div class="dropdown-body">
                                    <a>
                                        <p><strong> James.</strong> has added a<strong>customer</strong>
                                            Successfully
                                        </p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>

                        </ul>
                        <a class="all-notification">See all notifications <i class="icofont-simple-right"></i></a>
                    </div>

                </div>



                <a class="action author">
                    <img src="../assets/profile.jpg" alt="Author">
                </a>



                <div class="dropdown" dropdown>

                    <button class="action more" data-bs-toggle="dropdown" dropdownToggle>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>


                    <ul class="dropdown-menu" *dropdownMenu id="drop2">
                        <li><a class="" routerLink="/profile"><i class="icofont-user"></i> Profile</a></li>
                        <li><a class="" routerLink="/chatbot"><i class="icofont-inbox"></i> Inbox</a>
                        </li>
                        <li><a class="" routerLink="/logout"><i class="icofont-logout"></i> Log Out</a></li>
                    </ul>


                </div>
            </div>
            <!-- Header Action End -->
        </div>
        <!-- Login Header Wrapper End -->
    </div>
    <!-- Login Header End -->





    <!-- Courses Admin Start -->
    <div class="section overflow-hidden position-relative" id="wrapper">

        <!-- Sidebar Wrapper Start -->
        <div class="sidebar-wrapper">
            <div class="menu-list">
                <a class="active" routerLink="/courses-admin"><img src="../assets/images/menu-icon/icon-1.png"
                        alt="Icon"></a>
                <!-- <a routerLink="/message"><img src="../assets/images/menu-icon/icon-2.png" alt="Icon"></a> -->
                <a routerLink="/overview"><img src="../assets/images/menu-icon/icon-3.png" alt="Icon"></a>
                <a routerLink="/engagement"><img src="../assets/images/menu-icon/icon-4.png" alt="Icon"></a>
                <a routerLink="/traffic-conversion"><img src="../assets/images/menu-icon/icon-5.png" alt="Icon"></a>
            </div>
        </div>
        <!-- Sidebar Wrapper End -->

        <div class="page-content-wrapper py-0">

            <!-- Admin Tab Menu Start -->
            <div class="nav flex-column nav-pills admin-tab-menu">
                <a routerLink="/overview">Overview</a>
                <a routerLink="/students">Student’s</a>
                <!-- <a routerLink="/reviews">Review’s</a> -->
                <a routerLink="/engagement">Course Engagement</a>
                <a routerLink="/traffic-conversion" class="active">Traffic & Conversion</a>
            </div>
            <!-- Admin Tab Menu End -->

            <!-- Page Content Wrapper Start -->
            <div class="main-content-wrapper">
                <div class="container-fluid">

                    <!-- Admin Top Bar Start -->
                    <div class="admin-top-bar">
                        <!-- <div class="courses-select">
                            <select>
                                <option data-display="All Courses">All Courses</option>
                                <option value="1">option</option>
                                <option value="2">option</option>
                                <option value="3">option</option>

                            </select>
                        </div> -->

                        <!-- <div class="months-select">
                            <select>
                                <option data-display="Last 12 months">Last 12 months</option>
                                <option value="1">Last 6 months</option>
                                <option value="1">Last 3 months</option>
                                <option value="1">Last 2 months</option>
                                <option value="1">Last 1 months</option>
                                <option value="1">Last 1 week</option>
                            </select>
                        </div> -->


                    </div>
                    <!-- Admin Top Bar End -->



                    <!-- Message Start -->
                    <!-- <div class="message mt-8">

                       
                            <!-- Message Start -->
                    <!-- <div class="message mt-8"> -->

                            <!-- <div class="message-icon">
                                <img src="assets/images/menu-icon/icon-6.png" alt="">
                            </div> -->
                            <!-- <div class="message-content"> -->
                                <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic.</p> -->
                            <!-- </div> -->
                        <!-- </div> -->

                    <!-- Message End -->


                    <!-- Message End -->





                    <!-- Engagement Courses End -->
                    <div class="engagement-courses table-responsive">


                        <div class="courses-top">
                            <ul>
                                <li>All Course’s</li>
                                <li>Minutes Taught</li>
                                <li>Active Student’s</li>
                            </ul>
                        </div>


                        <div class="courses-list">
                            <ul>

                                <!-- <li *ngFor="let data of getmintaughtStudentactive">
                                    <div class="courses"  *ngFor="let item of data">
                                        
                                        <div class="content">
                                            <h4 class="title"><a>{{item[1]}}</a></h4>
                                        </div>
                                        <div class="taught">
                                            <span>{{item[2]}}</span>
                                        </div>
                                    </div>
                                     
                                    <div class="student">
                                        <span>{{data[1]}}</span>
                                    </div>
                                   
                                </li> -->

                                <li *ngFor="let data of getmintaughtStudentactive">
                                    <div class="courses">
                                        <div class="thumb">
                                            <img src="http://localhost:8080/AcademyBackend/getImage/{{data[0]}}" alt="Courses">
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a>{{data[1][1]}}</a></h4>
                                        </div>
                                    </div>
                                    <div class="taught">
                                        <span>{{data[1][2]}}</span>
                                    </div>
                                    <div class="student">
                                        <span>{{data[2]}}</span>
                                    </div>
                                    <div class="button">
                                        <a class="btn" >View Details</a>
                                    </div>
                                </li>



                                <li>
                                    <div class="courses">
                                        <div class="thumb">
                                            <img src="../assets/images/courses/admin-courses-01.jpg" alt="Courses">
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><a>Build An WholeSale WooCommerce Store
                                                    using
                                                    Whols Plugin</a></h4>
                                        </div>
                                    </div>
                                    <div class="taught">
                                        <span>11,001</span>
                                    </div>
                                    <div class="student">
                                        <span>520</span>
                                    </div>
                                    <div class="button">
                                        <a class="btn">View Details</a>
                                    </div>
                                </li>


                            </ul>
                        </div>

                    </div>


                </div>
                <!-- Engagement Courses End -->

                <!-- Engagement Courses End -->


            </div>
        </div>
        <!-- Page Content Wrapper End -->

    </div>

</div>
<!-- Courses Admin End -->


<!--Back To Start-->
<a class="back-to-top">
    <i class="icofont-simple-up"></i>
</a>
<!--Back To End-->



<app-footer></app-footer>