<!-- <div class="forgot-password-container">
    <h2>Forgot Password</h2>

    <div class="forgot-password-form">

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter your email">
        </div>


        <div class="form-group">
            <label for="securityQuestion">Security Question:</label>
            <input type="text" class="form-control" id="securityQuestion" placeholder="Enter your security question"
                required>
        </div>


        <div class="form-group">
            <label for="answer">Answer:</label>
            <input type="text" class="form-control" id="answer" placeholder="Enter your answer" required>
        </div>


        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password" required>
        </div>


        <div class="form-group">
            <a routerLink="/login"><button>Reset password</button></a>
        </div>

    </div>
</div> -->



<form *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
    </div>

    <div class="form-group">
        <label for="securityQuestion">Security Question:</label>
        <input type="text" id="securityQuestion" formControlName="securityQuestion" />
    </div>

    <div class="form-group">
        <label for="answer">Answer:</label>
        <input type="text" id="answer" formControlName="answer" />
    </div>

    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" formControlName="newPassword" />
    </div>

    <a routerLink="/login" type="submit">
        <button>Reset Password</button>
    </a>
</form>